/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
--color-primary: #08A6E4;
--color-primary-shadow: rgba(7, 172, 230, .16);
--color-redish: #FB3B64;
--color-green: #55DFB4;
--color-black: #000000;
--color-gray: #A5A5A5;
--color-light-grey: #F7F7F7;
--color-white: #FFFFFF;
--font-raleway:  'Raleway', sans-serif;
--font-opensans: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-opensans);
}
.container {
    margin: 0 auto;
    width: 1352px;
}

/* belka */

.header {
    width: 100%;
    height: 70px;
    box-shadow: #00000029 0px 3px 6px;
    position: sticky;
}
.bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
}
.logo {
    color: var(--color-primary);
    font-size: 2rem; /* 2x16px */
    font-family: var(--font-raleway);
    text-decoration: none;
}

.nav_link {
font-size: 0.6875rem;
text-decoration: none;
letter-spacing: 3.28px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: var(--color-gray);
padding: 22px 0px;
border-bottom: 4px solid transparent;

}

.nav_link:hover {
    border-bottom: 4px solid var(--color-primary);
    color: var(--color-black);
}
 .nav_element {
     padding: 0px 47px;
 }

 /* strona powitalna */

 .welcome-page {
     height: 712px;
 }
 .welcome-page img{
    max-width: 100%;
    height: auto;
    object-position: bottom;
}
 .container_welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
 }
 .welcome_tittle {
     font-family: var(--font-raleway);
     font-size: 3.063rem;
     text-align: center;
     line-height: 57px;
     color: var(--color-black);
     padding-bottom: 20px;
 }

 .welcome_text {
     font-size: 1rem;
     text-align: center;
     line-height: 22px;
     color: var(--color-black);
     padding-bottom: 38px;
 }

 .btn {
     border-radius: 40px;
     background-color: var(--color-primary);
     text-decoration: none;
     color: var(--color-white);
     font-size: 1rem;
     text-align: center;
     line-height: 22px;
     padding: 22px 157px;
     font-weight: bold;
 }

 /* sekcja statystyki */

 .statistic {
     width: 100%;
     height: 531px;
     background-color: var(--color-white);
     box-shadow: #00000029;
 }
 .statistic_tittle {
     font-family: var(--font-raleway);
     font-size: 2.25rem;
     text-align: center;
     line-height: 42px;
     color: var(--color-black);
     margin: 100px 0px;
 }
 .statistic_container {
     display: flex;
     justify-content: center;
 }
 .statistic > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
 .container > .statistic_container {
     width: 1100px;
     display: flex;
     justify-content: space-around;
 }

 .statistic_column {
     text-align: center;
     object-position: center;
     display: flex;
     flex-direction: column;
     height: auto;
     /* justify-content: space-around; */
     position: relative;
 }

  .svg_stat { /* wycentrowanie samego svg */
    display: block;
    height: auto;
    width: auto;
    position:static;
    padding-bottom: 15px;
    z-index: 1;
 }
 /* stylowanie kolka do svg */

 .circle_stat {
     width: 60px;
     height: 60px;
     border-radius: 50%;
     background-color: var(--color-redish);
     
 }

 .circle_person {
    background-color: var(--color-redish);
    position: absolute;
    top: 0px;
    left: 4px;
 }
 .circle_eye {
    background-color: var(--color-primary);
    position: absolute;
    top: -3px;
    left: 12px;
    
 }
 .circle_catalog {
    background-color: var(--color-green);
    position: absolute;
    top: -6px;
    left: -5px;
 }
 
.eye {
    margin-top: 13px;
}
.stat_column_text1 {
    margin-bottom: 15px;
    margin-top: 10px;
    color: var(--color-black);
    letter-spacing: 6px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;


}
.stat_column_text1:hover {
    transform: scale(2.5);
    transition: 0.5s;
}

.stat_column_text2 {
    color: var(--color-gray);
}

/* sekcja benefits */

.benefits {
    background-color: var(--color-light-grey);
    height: 1395px;
    padding: 100px 0px 100px 0px;
}

.box {
    width: 1124px;
    height: 370px;
    border: #E8E9ED 1px solid;
    border-radius: 5px;
    background-color: var(--color-white);
    margin: 0px 251px 37px 251px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px;  
}


.box-img {
    width: 433px;
    height: 294px;
    position: relative;
}

.box-texts {
    max-width: 416px;
    max-height: 156px;
    margin-bottom: 40px;
}

.btittle {
    font-family: var(--font-raleway);
    color: var(--color-black);
    line-height: 42px;
    font-size: 2.25rem;
}

.btext {
    color: var(--color-black);
    line-height: 22px;
    font-size: 1rem;
    margin-top: 40px;
}
.btext1::after {
    content: "";
    height: 4px;
    width: 327px;
    background-color: var(--color-redish);
    display: block; 
    margin-top: 40px;
}
.btext1:hover::after {
    width: 527px;
    transition: 0.2s;
}

.btext2::after {
    content: "";
    height: 4px;
    width: 327px;
    background-color: var(--color-primary);
    display: block; 
    margin-top: 40px;
}
.btext2:hover::after {
    width: 427px;
    transition: 0.2s;
}


.btext3::after {
    content: "";
    height: 4px;
    width: 327px;
    background-color: var(--color-green);
    display: block; 
    margin-top: 40px;
}
.btext3:hover::after {
    width: 527px;
    transition: 0.2s;
}


.box-img1::after {
    content: "";
    width:180px;
    height: 180px;
    background-color: var(--color-redish);
    position: absolute;
    left: 210px;
    top: -40px;
    border-radius: 40px;
    transform: rotate(45deg);
    z-index: 1;
}
.box-img1:hover::after {
    width:280px;
    height: 280px;
    left: 20px;
    transition: 1s;
    transform: rotate(90deg);
}

.box-img img {
    position: relative;
    z-index: 2;
}
.box-img1 {
    margin-right: 30px;
    margin-top: 120px;
}

.box-img2::after {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    position: absolute;
    left: -17px;
    top: -15px;
    border-radius: 50%;
    z-index: 1;
}
.box-img2:hover::after {
    width: 40px;
    height: 420px;
    left: 232px;
    top: 85px;
    transition: 0.8s;
    transform: rotate(90deg);
}

.box-img2{
    margin-left: 40px;
}
.box3 {
    display: flex;
}
.box-texts3 {
    width: 623.04px;
    height: 370px;
    background-color: var(--color-white);
    margin-left: 251px;
    border-radius: 5px;
    border: #E8E9ED 1px solid;
    padding: 69px 34px 70px 36px;
}

.box-img3 {
    background-color: var(--color-green);
    width: 440px;
    /* height: 370px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60.96px;
    border-radius: 5px;
    border: #E8E9ED 1px solid;
}

.box-img3:hover {
    margin-left: 0px;
    width: 500px;
    transition: 0.2s;
}


