* {
    box-sizing: border-box;
}

body {
    font-family: $font-open-sans;
}

.container {
    margin: 0 auto;
    width: 1352px;
    @include notebook {
        width: 100%;
        padding: 0 15px;
    }
}

.logo {
    color: $color-primary;
    font-size: 2rem; /* 2x16px */
    font-family: $font-raleway;
    text-decoration: none;
}

