.benefits {
    background-color: $color-light-grey;
    height: 1395px;
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .box {
        width: 1124px;
        height: 370px;
        border: #E8E9ED 1px solid;
        border-radius: 5px;
        background-color: $color-white;
        margin: 0px 251px 37px 251px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 37px;
        .box-texts {
            max-width: 416px;
            max-height: 156px;
            margin-bottom: 40px;
            .btittle {
                font-family: $font-raleway;
                color: $color-black;
                line-height: 42px;
                font-size: 2.25rem;
            }
            .btext {
                color: $color-black;
                line-height: 22px;
                font-size: 1rem;
                margin-top: 40px;
            }
        }
        .box-img {
            width: 433px;
            height: 294px;
            position: relative;
            img {
                position: relative;
                z-index: 2;
            }
        }
        .box-img1 {
            margin-right: 30px;
            margin-top: 120px;
        }  
    }
    .box2 {
        .box-img2{
            margin-left: 40px;
        }
    }
    .box3 {
        display: flex;
        justify-content: space-between;
        width: 1124px;
        .box-texts3 {
            width: 623.04px;
            height: 370px;
            background-color: $color-white;
            border-radius: 5px;
            border: #E8E9ED 1px solid;
            padding: 69px 34px 70px 36px;
        }
        
        .box-img3 {
            background-color: $color-green;
            width: 440px;
            /* height: 370px; */
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 60.96px;
            border-radius: 5px;
            border: #E8E9ED 1px solid;
        }
    } 
}

.btext1::after {
    content: "";
    height: 4px;
    width: 327px;
    background-color: $color-redish;
    display: block; 
    margin-top: 40px;
}
.box1:hover .btext1::after {
    width: 527px;
    transition: 0.2s;
}
.box-img1::after {
    content: "";
    width:180px;
    height: 180px;
    background-color: $color-redish;
    position: absolute;
    left: 210px;
    top: -40px;
    border-radius: 40px;
    transform: rotate(45deg);
    z-index: 1;
}
.box1:hover .box-img1::after {
    width:280px;
    height: 280px;
    left: 20px;
    transition: 1s;
    transform: rotate(90deg);
}
.btext2::after {
    content: "";
    height: 4px;
    width: 327px;
    background-color: $color-primary;
    display: block; 
    margin-top: 40px;
}
.box2:hover .btext2::after {
    width: 427px;
    transition: 0.2s;
}
.box-img2::after {
    content: "";
    width: 320px;
    height: 320px;
    background-color: $color-primary;
    position: absolute;
    left: -17px;
    top: -15px;
    border-radius: 50%;
    z-index: 1;
}
.box2:hover .box-img2::after {
    width: 40px;
    height: 420px;
    left: 232px;
    top: 85px;
    transition: 0.8s;
    transform: rotate(90deg);
}
.btext3::after {
    content: "";
    height: 4px;
    width: 327px;
    background-color: $color-green;
    display: block; 
    margin-top: 40px;
}
.box3:hover .btext3::after {
    width: 527px;
    transition: 0.2s;
}

.box3:hover .box-img3 {
    margin-left: 0px;
    width: 500px;
    transition: 0.2s;
}