.benefits {
    background-color: $color-light-grey;
    height: auto;
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .box {
        width: 1124px;
        height: 370px;
        border: #E8E9ED 1px solid;
        border-radius: 5px;
        background-color: $color-white;
        margin: 0px 251px 37px 251px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 37px;
        @include notebook {
            width: 80%;
            height: auto;
        }
        @include smallnotebook {
            width: 80%;
            height: 100%;
            flex-direction: column-reverse;
            margin: 0px 5% 50px 5%;
        }
        .box-texts {
            max-width: 416px;
            max-height: 156px;
            margin-bottom: 40px;
            @include notebook {
                width: 50%;
                max-height: 100%;
            }
            @include smallnotebook {
                margin-bottom: 90px;
                width: 100%;
            }
            .btittle {
                font-family: $font-raleway;
                color: $color-black;
                line-height: 42px;
                font-size: 2.25rem;
                // @include smallnotebook {
                //     font-size: 3.25rem;
                // }
                @include smallnotebook {
                    font-size: 3.25rem;
                }
            }
            .btext {
                color: $color-black;
                line-height: 22px;
                font-size: 1rem;
                margin-top: 40px;
            }
        }
        .box-img {
            width: 433px;
            height: 294px;
            position: relative;
            img {
                position: relative;
                z-index: 2;
                width: 100%;
            }
            @include smallnotebook {
                margin: 30px 15px 60px 0;
            }
        }
        .box-img1 {
            margin-right: 30px;
            margin-top: 120px;
            // @include notebook {
            //     margin-right: 73px;
            // }
            @include smallnotebook {
                margin-right: -30px;
                margin-top: 80px;
                margin-bottom: 30px;
            }
        }  
    }
    .box2 {
        @include smallnotebook {
            flex-direction: column;
        }
        .box-img2{
            margin-left: 40px;
        }
    }
    .box3 {
        display: flex;
        justify-content: space-between;
        width: 1124px;
        @include notebook {
            width: 80%;
        }
        @include smallnotebook {
            flex-direction: column;
            width: 80%;
            margin: 0px 5% 50px 5%;
        }
        .box-texts3 {
            width: 623.04px;
            height: auto;
            background-color: $color-white;
            border-radius: 5px;
            border: #E8E9ED 1px solid;
            padding: 69px 34px 70px 36px;
            @include notebook {
                width: 100%;
                height: auto;
            }
            
            .btittle {
                font-family: $font-raleway;
                color: $color-black;
                line-height: 42px;
                font-size: 2.25rem;
                margin-bottom: 40px;
                @include smallnotebook {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
        
        .box-img3 {
            background-color: $color-green;
            width: 440px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 60.96px;
            border-radius: 5px;
            border: #E8E9ED 1px solid;
            img {
                transform: scale(0.7);
            }
            @include smallnotebook {
                width: 100%;
                margin-left: 0;
                img {
                    vertical-align: middle;
                    transform: scale(1.1);
                    margin-top: 68px;
                }
            }
        }
    } 
}

.btext1::after {
    content: "";
    height: 4px;
    width: 80%;
    background-color: $color-redish;
    display: block; 
    margin-top: 40px;
}
.box1:hover .btext1::after {
    width: 100%;
    transition: 0.2s;
}
.box-img1::after {
    content: "";
    width:180px;
    height: 180px;
    background-color: $color-redish;
    position: absolute;
    left: 210px;
    top: -40px;
    border-radius: 40px;
    transform: rotate(45deg);
    z-index: 1;
}
.box1:hover .box-img1::after {
    width:280px;
    height: 280px;
    left: 20px;
    transition: 1s;
    transform: rotate(90deg);
}
.btext2::after {
    content: "";
    height: 4px;
    width: 80%;
    background-color: $color-primary;
    display: block; 
    margin-top: 40px;
}
.box2:hover .btext2::after {
    width: 100%;
    transition: 0.2s;
}
.box-img2::after {
    content: "";
    width: 320px;
    height: 320px;
    background-color: $color-primary;
    position: absolute;
    left: -17px;
    top: -15px;
    border-radius: 50%;
    z-index: 1;
}
.box2:hover .box-img2::after {
    width: 40px;
    height: 420px;
    left: 232px;
    top: 85px;
    transition: 0.8s;
    transform: rotate(90deg);
}
.btext3::after {
    content: "";
    height: 4px;
    width: 80%;
    background-color: $color-green;
    display: block; 
    margin-top: 40px;
}
.box3:hover .btext3::after {
    width: 100%;
    transition: 0.2s;
}

// .box3:hover .box-img3 {
//     margin-left: 0px;
//     width: 500px;
//     transition: 0.2s;
// }