.idcontact {
    height: 10px;
    margin-bottom: 80px;
}

.contact {
    display: flex;
    justify-content: center;
    .contact-container {
        width: 896px;
        height: 376px;
        margin-bottom: 59px;
        display: flex;
        @include notebook {
            width: 87%;
        }
        @include mobile {
            width: 80%;
            height: auto;
            flex-direction: column;
            align-items: center;
        }
        .information-contact {
            width: 50%;
            @include mobile {
                width: 80%;
            }
            .contact-tittle {
                font-size: 3.063rem;
                line-height: 57px;
                font-family: $font-raleway; 
                margin-bottom: 22px;
            }
            .contact-text {
                font-size: 1rem;
                line-height: 22px;
                margin-bottom: 42px;
            }
            .mail-and-number {
                display: flex;
                font-weight: 600;
                font-size: 1rem;
                line-height: 22px;
                color: $color-grey;
                @include mobile {
                    // p {
                    //     display: inline-block;
                    // }
                    display: inline-block;
                    margin-bottom: 9%;
                }
            }
        }
        .form-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            @include mobile {
                width: 80%;
            }
            .name {
                display: flex;
                flex-direction: column;
            }
            .mail {
                display: flex;
                flex-direction: column;
            }
            .form-agree {
                .form-checkbox {
                    cursor: pointer;
                    display: flex;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    .checkbox {
                        height: 24px;
                        flex-basis: 24px;
                        flex-shrink: 0;
                        border: 1px solid #95989A;
                        border-radius: 4px;
                        background-color: $color-white;
                        cursor: pointer;
                        margin-right: 10px;
                    }
                    .agree-text {
                        font-size: 0.75rem;
                        color: #707070;
                        line-height: 17px;
                        margin-bottom: 40px;
                    }
                }
            }
            .form-btn {
                align-self: flex-end;
                color: $color-white;
                border: none;
                border-radius: 35px;
                background-color: $color-primary;
                box-shadow: #07ACE629 5px 10px 14px;
                padding: 20px 97px;
            }
        }
    }
}

.style-labes {
    font-weight: bold;
    font-size: 0.688rem;
    letter-spacing: 3.28px;
    line-height: 15px;
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.style-inputs {
    border: none;
    border-bottom: 1px solid $color-grey;
    margin-bottom: 25px;
}
.style-inputs::placeholder {
    font-style: italic;
    color:#22739138;
    font-size: 0.9rem;
}

.form-checkbox input:checked + .checkbox{
    background: url(../assets/Checkmark.svg) no-repeat center;
}

.form-btn:hover {
    transform: scale(1.2);
    transition: 0.7s;
}

.mail-and-number img:hover {
    transform: scale(1.8) rotateZ(45deg);
    transition: 0.2s;
}