.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    @include notebook {
        margin-bottom: 5%;
    }
    @include mobile {
        margin-bottom: 5%;
    }
    .container-price {
        width: 1266px;
        height: 616px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        @include notebook {
            width: 80%;
            height: auto;
        }
        @include mobile {
            width: 80%;
            height: auto;
        }
        .pricing-main-tittle {
            font-size: 3.8rem;
            font-family: $font-raleway;
            color: $color-black;
            line-height: 42px;
            text-align: center;
            margin-bottom: 50px;
            @include notebook {
                font-size: 4.25rem;
            }
            @include mobile {
                font-size: 4.25rem;
            }
        }
        .price-blocks {
            display: flex;
            justify-content: space-evenly;
            @include notebook {
                align-items: center;
                flex-direction: column;
            }
            @include mobile {
                align-items: center;
                flex-direction: column;
            }
            .basic, .profesional, .premium {
                width: 80%;
                height: auto;
                border: #FB3B64 1px solid;
                border-radius: 18px;
                display: flex;
                // justify-content: space-between;
                flex-direction: column;
                align-items: center;
                margin-right: 10%;
                @include notebook {
                    margin-right: 0;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin-bottom: 20%;
                }
                @include mobile {
                    margin-right: 0;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin-bottom: 20%;
                }
            }
            .profesional {
                border: $color-primary 1px solid;
                .price2 {
                    color: #07ACE6;
                }
                .begin-btn2 {
                    background-color: #07ACE6;
                    position: relative;
                    top: 17px;
                    left: 12px;
                    @include notebook {
                        top: 11px;
                        left: -100px;
                    }
                    @include mobile {
                        top: 7px;
                        left: -88px;
                    }
                }
            }
            .premium {
                border: $color-green 1px solid;
                margin-right: 0;
                .price3 {
                    color: #55DFB4;
                }
                .begin-btn3 {
                    background-color: #55DFB4;
                    position: relative;
                    top: 9px;
                    left: 14px;
                    @include notebook {
                        top: 11px;
                        left: -100px;
                    }
                    @include mobile {
                        top: 10px;
                        left: -82px;
                    }
                }
            }
        }
    }
}
.price-content {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
    @include notebook {
        margin-right: 5%;
        width: 50%;
    }
    @include mobile {
        margin-right: 5%;
        width: 50%;
    }
}
.offerrs {
    height: auto;
    @include notebook {
        width: 50%;
    }
    @include mobile {
        width: 50%;
    }
    p {
        margin-bottom: 15%;
        font-size: 1.3rem;
        @include notebook {
            font-size: 2.0rem;
        }

        img {
            transform: scale(1.7);
            margin-bottom: 2%;
        }
    }
}
.tittle-block {
    margin-top: 34px;
    font-size: 2rem;
    line-height: normal;
    font-family: $font-raleway;
    font-weight: bold;
    @include notebook {
        margin-top: 0;
        font-size: 1.7rem;
    }
    @include mobile {
        margin-top: 0;
        font-size: 1.7rem;
    }
}
.price {
    margin-top: 14px;
    color: #FB3B64;
    font-size: 3.875rem;
    line-height: normal;
    @include notebook {
        font-size: 6rem;
        margin-top: 0;
        margin-bottom: 10px;
    }
    @include mobile {
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.limited-offer {
    font-family: $font-raleway;
    font-size: 1.2rem;
    line-height: 1px;
    font-weight: bold;
    margin-top: 5px;
}
.HDD {
    margin-top: 25px;
}
.HDD2 {
    margin-top: 25px;
}
.begin-btn {
    border-radius: 23px;
    padding: 16px 57px;
    color: $color-white;
    background-color: #EB476E;
    text-decoration: none;
    position: relative;
    top: 15px;
    left: 5px;
    @include notebook {
        top: 10px;
        left: -104px;
        font-size: 1.7rem;
    }
    @include mobile {
        top: 6px;
        left: -82px;
    }
}

.basic:hover {
    box-shadow: #eb4a0a79 5px 10px 27px;
    transform: scale(1.2);
}

.profesional:hover {
    box-shadow: #07ACE629 5px 10px 27px;
    transform: scale(1.2);
}

.premium:hover {
    box-shadow: #1cb63d29 5px 10px 27px;
    transform: scale(1.2);
}

.begin-btn:hover {
    transform: scale(1.5);
    box-shadow: #b8b9b5f1 0px 0px 12px;
}

